@charset "utf-8";

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, "微軟正黑體",sans-serif;
}

img {
    vertical-align: bottom;
}

/* helper ============================================== */

.container {
    max-width: 1200px;
    box-sizing: border-box;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

/* header ============================================== */

.header {
    /* background-color: salmon; */
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;
}

.header-head, .header-body, .header-foot {
    padding: .5rem 1rem;
    box-sizing: border-box;
}

.header-btn-xmark, .header-foot {
    display: none;
}

.header-head {
    /* background-color: rosybrown; */
    width: 80px;
}

.header-img {
    max-width: 100%;
    height: auto;
}

.header-ul {
    /* background-color: gainsboro; */
    display: flex;
    padding: .5rem 1rem;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 30px;
}

.header-li {
    margin-left: 1rem;
    margin-right: 1rem;
}

.header-link {
    text-decoration: none;
    color: #fff;
    font-size: .9rem;
    font-weight: 600;
    text-transform: uppercase;
    transition-duration: .3s;
}

.header-link:hover {
    color: #cf7688;
}

/* banner =============================================== */

.banner {
    background-image: linear-gradient(135deg, #cf7688 20%, #f5ba54 100%);
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.banner-index .banner-head, .banner-index .banner-body {
    padding-top: 3rem;
}

.banner-index .banner-head {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.banner-index .banner-body {
    width: 60%;
    position: relative;
}

.banner-container {
    display: flex;
    align-items: center;
}

.banner-head, .banner-body {
    width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
}

.banner-title {
    margin-bottom: 2rem;
    font-size: 2.2rem;
}

.banner-small {
    display: block;
    margin-top: .5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.banner-subtitle {
    margin-bottom: 2rem;
    font-size: 1.75rem;
    line-height: 1.5;
    color: rgba(255, 255, 255, .7);
}

.banner-desc {
    line-height: 1.6;
}

.banner-ul {
    display: flex;
    margin-bottom: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .3);
}

.banner-ul-order1 {
    order: -1;
}

.banner-li + .banner-li {
    position: relative;
    margin-left: 1rem;
}

.banner-li + .banner-li::before {
    content: "";
    position: absolute;
    top: 0.4rem;
    left: -0.6rem;
    width: 4px;
    height: 4px;
    background-color: rgba(255, 255, 255, .2);
}

.banner-btns {
    margin-top: 2rem;
}

.banner-btn {
    border: solid 2px #fff;
    padding: 1rem 3rem;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    transition-duration: .3s;
}

.banner-btn:hover {
    background-color: rgba(255, 255, 255, .2);
}

.banner-img {
    max-width: 100%;
    height: auto;
}

.banner-img-mobile, .banner-img-pad {
    position: absolute;
}

.banner-img-desktop {
    margin-left: 4.5rem;
}

.banner-img-mobile {
    left: 0;
    bottom: 5rem;
    z-index: 1;
}

.banner-img-pad {
    right: 1rem;
    bottom: -2rem;
}

/* footer =============================================== */

.footer {
    background-color: #666;
    display: flex;
    justify-content: space-between;
    padding: 7rem 1rem 1rem;
    clip-path: polygon(0 50%,100% 0, 100% 100%, 0 100%);
    align-items: flex-end;
}

.footer-img-logo {
    max-width: 40px;
    height: auto;
    margin-bottom: .5rem;
}

.footer-desc {
    font-size: .9rem;
    color: #fff;
    text-transform: uppercase;
}

.footer-ul {
    display: flex;
}

.footer-li {
    margin-left: 1rem;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600;
    transition-duration: .3s;
}

.footer-link:hover {
    color: #cf7688;
}

/* aside ================================================ */

.aside {
    position: fixed;
    right: 1rem;
    bottom: 15rem;
    z-index: 10;
}

.aside-link {
    color: rgba(0, 0, 0, .2);
    transition-duration: .3s;
}

.aside-link:hover {
    color: rgba(0, 0, 0, .5);
}

.aside-link-top {
    font-size: 3rem;
}