@charset "utf-8";

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, "微軟正黑體",sans-serif;
}

img {
    vertical-align: bottom;
}

/* helper ============================================== */

.container {
    max-width: 1200px;
    box-sizing: border-box;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

/* header ============================================== */

.header {
    /* background-color: salmon; */
    display: flex;
    justify-content: space-between;
}

.header-head, .header-body, .header-foot {
    padding: .5rem 1rem;
    box-sizing: border-box;
}

.header-btn-xmark, .header-foot {
    display: none;
}

.header-head {
    /* background-color: rosybrown; */
    width: 80px;
}

.header-img {
    max-width: 100%;
    height: auto;
}

.header-ul {
    /* background-color: gainsboro; */
    display: flex;
    padding: .5rem 1rem;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 30px;
}

.header-li {
    margin-left: 1rem;
    margin-right: 1rem;
}

.header-link {
    text-decoration: none;
    color: #fff;
    font-size: .9rem;
    font-weight: 600;
    text-transform: uppercase;
    transition-duration: .3s;
}

.header-link:hover {
    color: #cf7688;
}

/* banner =============================================== */

.banner {
    background-image: linear-gradient(135deg, #cf7688 20%, #f5ba54 100%);
    color: #fff;
}

.banner-container {
    display: flex;
    align-items: center;
}

.banner-head, .banner-body {
    width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
}

.banner-title {
    margin-bottom: 2rem;
    font-size: 2.2rem;
}

.banner-small {
    display: block;
    margin-top: .5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.banner-subtitle {
    margin-bottom: 2rem;
    font-size: 1.75rem;
    line-height: 1.5;
    color: rgba(255, 255, 255, .7);
}

.banner-desc {
    line-height: 1.6;
}

.banner-ul {
    display: flex;
    margin-bottom: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .3);
}