@charset "utf-8";

/* base: service、project、intro、build 共用 ============ */

.base {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.base-head, .base-btns {
    text-align: center;
}

.base-body {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.base-title {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 10px;
}

.base-btn {
    border: solid 2px #cf7688;
    padding: 1rem 3rem;
    border-radius: 5px;
    text-decoration: none;
    color: #cf7688;
    text-transform: uppercase;
    display: inline-block;
    transition-duration: .3s;
}

.base-btn:hover {
    background-color: #f6cdd5;
}

/* service ============================================= */

.service-items {
    display: flex;
    flex-wrap: wrap;
}

.service-item {
    width: 33.33333%;
    border: solid 1px #e6e6e6;
    box-sizing: border-box;
    margin-right: -1px;
    margin-bottom: -1px;
    padding: 1.5rem 2rem;
    color: rgba(0, 0, 0, .7);
}

.service-title, .service-icons {
    text-align: center;
}

.service-title {
    font-size: 1.25rem;
}

.service-desc {
    font-size: .95rem;
    line-height: 1.5;
    text-align: justify;
}

.service-icons {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.service-icons .fa-solid {
    color: #cf7688;
}

/* project============================================== */

.base-project {
    background-image: linear-gradient(#f6f6f6 0, #fff 50%);
}

.project-items {
    display: flex;
    flex-wrap: wrap;
}

.project-item {
    width: 20%;
    /* border: solid 1px #ccc; */
    box-sizing: border-box;
    margin-bottom: 1rem;
    text-align: center;
}

.project-img {
    max-width: 100%;
    height: auto;
}